Function:
def function_here(arg1):
  """
    Comments explaining the function here

    Args:
    list args

    Returns:
    list returns
    """

Function:
def another_function_here(arg1):
  ...

User Query: {{.Input}}<human_end>

