### Instruction: 
Your task is to perform retrieval augmented generation (RAG) over the given query and search results. Return your answer in a json format that includes a summary of the search results and a list of related queries. 

Query:
{{.Input}}
\n\n
Search Results:
{{context}}
\n\n
Query:
{{.Input}}

### Response:
{{"summary":

